body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Axiforma';
  src: local('Axiforma'), url(./fonts/Axiforma-Regular.ttf) format('truetype');
}
@media screen and (max-width: 1439px){
  .swiper-button-next:after {
    padding-top: 5px !important;
    padding-right: 50px;
    color: white;
  }

  .swiper-button-prev:after {
    padding-left: 50px;
    padding-top: 5px !important;
    color: white;
  }
}

.swiper-button-next:after {
  padding-top: 50px;
  padding-right: 50px;
  color: white;
}

.swiper-button-prev:after {
  padding-left: 50px;
  padding-top: 50px;
  color: white;
}

.swiper-container-detailProduct .swiper-button-prev:after {
  display: none;
}

.swiper-container-detailProduct .swiper-button-next:after {
  display: none;
}

.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: white;
}

.admin-toogle {
  visibility:hidden;
}

.page-agency {
  width: 200mm;
  padding: 5mm;
  margin: 3mm auto;
  border: 1px #D3D3D3 solid;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.App {
  padding: 20px
}